
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* nav styles */
main{
    /* margin: 80px; */
}
body{
    margin: 0 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: bold;
    font-size: 28px;
}
nav ul li{
    list-style: none;
}
.btn-parimary{
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 106, 80, 1);
    padding: 10px 25px;
    background: none;
    border-color: rgba(0, 106, 80, 1);
    border-radius: 6px;
}
/* banner styles */
.banner{
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}
.banner-profile-pic{
    width: 430px;
    height: 350px;
    padding: 30px;
}
.btn-1{
    padding: 15px 30px;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    color: rgba(255, 255, 255, 1);
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 500;
}
.banner-description{
    font-size: 40px;
    font-weight: bold;
}
/* The Vision of Future Styles */
.vision-title{
    font-weight: bold;
    font-size: 32px;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}
main .technology{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.technology-types-1{
    padding: 32px;
    background-color:rgba(84, 144, 245, 0.2) ;
    border-radius: 14px;
}
.technology-types-2{
    padding: 32px;
    background-color:rgba(198, 228, 214, 1) ;
    border-radius: 14px;    
}
.technology-types-3{
    padding: 32px;
    background-color:rgba(247, 235, 207, 1) ;
    border-radius: 14px;
}
.btn-primary-1{
    background-color: rgba(84, 144, 245, 1);
    border-radius: 6px;
    padding: 10px 15px;
    border: none;
}
.btn-primary-2{
    background-color: rgba(9, 161, 92, 1);
    border-radius: 6px;
    padding: 10px 15px;
    border: none;    
}
.btn-primary-3{
    background-color: rgba(255, 194, 57, 1);
    border-radius: 6px;
    padding: 10px 15px;
    border: none;    
}

