
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* nav styles */
body{
    margin: 20px 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
.btn-parimary{
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 106, 80, 1);
    padding: 10px 25px;
    background: none;
    border-color: rgba(0, 106, 80, 1);
    border-radius: 6px;
}
/* banner styles */
.banner{
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}
.banner-profile-pic{
    width: 400px;
    height: 350px;
    padding: 30px;
}
.btn-1{
    padding: 15px 30px;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    color: rgba(255, 255, 255, 1);
    transition: ease .20s;
    cursor: pointer;
}
.btn-1:hover{
    background-color: red;
    border: 2px solid rgb(0, 247, 255);
    transform: scale(1.1);
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 500;
}
.banner-description{
    font-size: 40px;
    font-weight: bold;
}
/* The Vision of Future Styles */
section{
    margin-top: 70px;
}
.vision-title{
    font-weight: bold;
    font-size: 32px;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
}
main .technology{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.technology-types-1{
    padding: 32px;
    background-color:rgba(84, 144, 245, 0.2) ;
    border-radius: 14px;
}
.technology-types-2{
    padding: 32px;
    background-color:rgba(198, 228, 214, 1) ;
    border-radius: 14px;    
}
.technology-types-3{
    padding: 32px;
    background-color:rgba(247, 235, 207, 1) ;
    border-radius: 14px;
}
.btn-primary-1{
    background-color: rgba(84, 144, 245, 1);
    border-radius: 6px;
    padding: 10px 15px;
    border: none;
    transition: ease .20s;
    cursor: pointer;
}
.btn-primary-1:hover{
    background-color: red;
    border: 2px solid rgb(0, 247, 255);
    transform: scale(1.1);
    
}
.btn-primary-2{
    background-color: rgba(9, 161, 92, 1);
    border-radius: 6px;
    padding: 10px 15px;
    border: none;
    transition: ease .20s;
    cursor: pointer;

}
.btn-primary-2:hover{
    background-color: red;
    border: 2px solid rgb(0, 247, 255);
    transform: scale(1.1);
}
.btn-primary-3{
    background-color: rgba(255, 194, 57, 1);
    border-radius: 6px;
    padding: 10px 15px;
    border: none; 
    transition: ease .20s;
    cursor: pointer;   
}
.btn-primary-3:hover{
    background-color: red;
    border: 2px solid rgb(0, 247, 255);
    transform: scale(1.1);
}

/* Recent News styles */
.satelite-1{
    width: 400px;
    height: 330px;
    border-radius: 15px;
}
.news-title{
    font-weight: bold;
    font-size: 32px;
}
.satelite-title{
    font-size: 27px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.date-time{
    display: flex;
    gap: 15px;
    color: rgba(14, 14, 14, 0.7);
}
.satelite-description{
    color: rgba(14, 14, 14, 0.7);
}
.news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
main .Recent-news{
    
}
.common-btn{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    transition: ease .20s;
    cursor: pointer;
}
.common-btn:hover{
    border: 2px solid rgb(0, 247, 255);
    background-color: red;
    transform: scale(1.1);
}
main .satelite{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 20px 35px;
    border-radius: 15px;
}
/* donate today styles */
.Donate-title{
    font-size: 32px;
    font-weight: bold;
}
.Donate-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.Donate{
    text-align: center;
}
.add-money h3{
    font-weight: bold;
    font-size: 32px;
}
.add-money{
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.no-2{
    background-color: rgba(198, 228, 214, 1);
    padding: 40px 40px;
    border-radius: 13px;
    color: rgba(14, 14, 14, 0.8);
}
.no-1,.no-3,.no-4{
    background: none;
    padding: 40px 40px;
    border-radius: 13px;
    color: rgba(14, 14, 14, 0.8);
}
.input{
    width: 75%;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    padding: 13px;
}
/* Subscribe Newsletter */
.Subscribe-Newsletter{
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    padding: 60px 100px;
    border-radius: 16px;
}
.subscribe-title{
    font-size: 32px;
    font-weight: bold;    
}
.subscribe-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px; 
}
.enter-email{
    padding: 10px 30px;
    width: 500px;
    border: none;  
}
.Dr-Muhammad-Yunus{
   
    /* background-color: aqua; */
    border-radius: 14px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 40px 24px;
}
/* Dr-Muhammad-Yunus */
.description,.signature{
    color: rgba(14, 14, 14, 0.8);
}
.title {
    font-weight: 600;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}

